.mobile {
  padding: px2rem(120px) 0 0;
  h1 {
    text-align: center;
  }
}
.item-list {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  a {
    @include flexs;
    @include align-items;
    border-bottom: 1px solid #ddd;
    color: #999;
    &:last-child {
      border-bottom: none;
    }
    :first-child {
      color: $blue;
    }
    :last-child {
      @include flexs;
      @include justify-content(flex-end);
      font-size: $px24;
    }
    p {
      @include flexs;
      @include flex;
      @include justify-content(flex-end);
    }
  }
}
